<h2 class="mb-3">Add Working Days and Hours</h2>
<div>
  <form #worksForm="ngForm">
    <div class="content">
      <div class="form-row">
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Time Table ID</mat-label>
            <input matInput name="timeTableID" [(ngModel)]="worksService.selectedWorks.timeTableID" #timeTableID="ngModel" pattern="^[A-Z]{1}[0-9_-]{2}$" placeholder="* Time table ID must have 3 characters(Includes One capital letter and Two numbers)" style="color: #fff;" required>
          </mat-form-field>
          <div *ngIf="timeTableID.errors?.pattern">
            <label style="color: #960B06; font-family: 'Courier New'; font-weight: bolder;" class="mr-2">Time Table ID is Not Valid.</label>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Select Timetable Type</mat-label>
            <mat-select name="timetableType" [(ngModel)]="worksService.selectedWorks.timeTableType" #timetableType="ngModel" (change)="getTimetableType($event)"required>
              <mat-option value="weekday">Weekday</mat-option>
              <mat-option value="weekend">Weekend</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Number of working Days</mat-label>
            <input matInput name="noOfWorkingDays" [(ngModel)]="worksService.selectedWorks.noOfWorkingDays" #noOfWorkingDays="ngModel" (change)="getNoOfWorkingDays()" style="color: #fff;" required>
          </mat-form-field>
          <div  *ngIf="worksService.selectedWorks.timeTableType == 'weekday'">
            <mat-label class="mb-2">Working Days</mat-label>
            <section>
              <div *ngFor="let obj of weekdaysArr">
                <mat-checkbox class="checkBoxData" name="{{obj.value}}" value="{{obj.value}}" (change)="workingDayChange($event, obj.value)" [disabled]="cheDisable" required>{{obj.key}}</mat-checkbox><br>
              </div>
            </section>
          </div>

          <div *ngIf="worksService.selectedWorks.timeTableType == 'weekend'">
            <mat-label class="mb-2">Working Days</mat-label>
            <section>
              <div *ngFor="let obj of weekendsArr">
                <mat-checkbox class="checkBoxData" name="{{obj.value}}" value="{{obj.value}}" (change)="workingDayChange($event, obj.value)" [disabled]="cheDisable" required>{{obj.key}}</mat-checkbox><br>
              </div>
            </section>
          </div>

          <mat-label class="row" style="padding-left: 15px;">Working time per Day</mat-label>
          <div class="row mt-2">
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Hours</mat-label>
                <input matInput [(ngModel)]="worksService.selectedWorks.noOfHours" name="hours" #noOfHours="ngModel" style="color: #fff;" required>
              </mat-form-field>

            </div>
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Minutes</mat-label>
                <input matInput [(ngModel)]="worksService.selectedWorks.noOfMinutes" name="minutes" #noOfMinutes="ngModel" style="color: #fff;" required>
              </mat-form-field>

            </div>
          </div>
          <button mat-flat-button class="col-2" (click)="createWork()" class="mb-3" style="background-color: #5A59F2;" [disabled]="worksForm.invalid">SUBMIT</button>
          <div *ngIf="disable == false" class="mt-2">
            <div class="alert" style="background-color: #48C9B0; color: #fff; " role="alert">
              Working Days and Hours are Successfully Added.......
            </div>
          </div>
      </div>
      </div>
    </div>
  </form>
</div>

