<!-- <nav class="navbar sticky-top fixed-top navbar-light" style="background-color: #504f4f">
    <a class="navbar-brand"></a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button mat-raised-button color="primary" style="margin-right: 30px;">Search</button>
    </form>
</nav> -->

<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header" style="text-align: center;">
        <img src="assets/images/logo.png" class="logo" alt="logo">
        <h6>ABC INSTITUTE</h6>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a [routerLink]="['overview']">Overview</a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#locSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
            <ul class="collapse list-unstyled" id="locSubmenu">
                <li>
                    <a [routerLink]="['student/add']">Year and Semester</a>
                </li>
                <li>
                    <a [routerLink]="['student/update']">Programs</a>
                </li>
                <li>
                    <a [routerLink]="['student/archive']">Groups/Sub-grups</a>
                </li>

            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href = "#lecSubmenu" data-toggle = "collapse" aria-expanded = "false" class = "dropdown-toggle">Lecturers</a>
            <ul class = "collapse list-unstyled" id = "lecSubmenu">
                <li>
                    <a [routerLink] = "['lecturers/add']">Add Lecturers</a>
                </li>
                <li>
                    <a [routerLink] = "['lecturers/manage']">Manage Details</a>
                </li>
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#tagSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tags</a>
            <ul class="collapse list-unstyled" id="tagSubmenu">
                <li>
                    <a [routerLink]="['tags/manage']">Manage</a>
                </li>
            </ul>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a href="#worksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Works</a>
            <ul class="collapse list-unstyled" id="worksSubmenu">
                <li>
                    <a [routerLink]="['works/addWorks']">addWorks</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<div class="inner-container">
    <router-outlet></router-outlet>
</div>
