<h2>ADD LECTURERS</h2><br>

<form [FormControl] = "LecturerForm">
    <div class="col-md-6">
        <h4 style="padding-bottom: 20px;">Lecturer Details</h4>
    </div>
    <div class="content">
        <div class = "form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Employee ID</mat-label>
                    <input maxlength="6" matInput placeholder="Enter employee ID here" name="empid" [(ngModel)]="empid" required style="color: #999;">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter first name here" name="fname" [(ngModel)]="fname" style="color: #999;">
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter last name here" name="lname" [(ngModel)]="lname" style="color: #999;">
                </mat-form-field>
            </div>
        </div>

        <div class = "form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter email here" name="email" [(ngModel)]="email" required style="color: #999;">
                </mat-form-field>
            </div>
        </div>

        <div class = "form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Faculty</mat-label>
                    <mat-select name="faculty" [(ngModel)]="faculty" style="color: #999;">
                        <mat-option value="computing">Faculty of Computing</mat-option>
                        <mat-option value="business">Faculty of Business</mat-option>
                        <mat-option value="engineering">Faculty of Engineering</mat-option>
                        <mat-option value="humanities">Faculty of humanities and Sciences</mat-option>
                        <mat-option value="architecture">School of Architecture</mat-option>
                        <mat-option value="law">School of Law</mat-option>
                        <mat-option value="hospitality">School of Hospitality and Culinary</mat-option>
                        <mat-option value="graduateStudies">Faculty of Graduate Studies and Research</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
       
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Department</mat-label>
                    <mat-select name="department" [(ngModel)]="department" style="color: #999;">
                        <mat-option value="csse">Department of Computer Science and Software Engineering</mat-option>
                        <mat-option value="it">Department of Information Technology</mat-option>
                        <mat-option value="csne">Department of Computer Systems and Network Engineering</mat-option>
                        <mat-option value="electrical">Department of Electrical and Electronic Engineering</mat-option>
                        <mat-option value="civil">Department of Civil Engineering</mat-option>
                        <mat-option value="mechanical">Department of Mechanical Engineering</mat-option>
                        <mat-option value="materials">Department of Materials Engineering</mat-option>
                        <mat-option value="qs">Department of Quantity Surveying</mat-option>
                        <mat-option value="info">Department of Information Management</mat-option>
                        <mat-option value="management">Department of Business Management</mat-option>
                        <mat-option value="maths">Mathematics Unit</mat-option>
                        <mat-option value="english">English Language Teaching Unit</mat-option>
                        <mat-option value="education">School of Education</mat-option>
                        <mat-option value="psychology">School of Psychology</mat-option>
                        <mat-option value="nursing">School of Nursing</mat-option>
                        <mat-option value="science">School of Natural Sciences</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class = "form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Center</mat-label>
                    <mat-select name="center" [(ngModel)]="center" style="color: #999;">
                        <mat-option value="malabe">Malabe</mat-option>
                        <mat-option value="metro">Metro</mat-option>
                        <mat-option value="kandy">Kandy</mat-option>
                        <mat-option value="jaffna">Jaffna</mat-option>
                        <mat-option value="matara">Matara</mat-option>
                        <mat-option value="kurunagala">Kurunagala</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Building</mat-label>
                    <mat-select name="building" [(ngModel)]="building" style="color: #999;">
                        <mat-option value="main">Main Building</mat-option>
                        <mat-option value="new">New Building</mat-option>
                        <mat-option value="busibuild">Business Building</mat-option>
                        <mat-option value="engbuild">Engineering Building</mat-option>
                        <mat-option value="dblock">D-Block</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class = "form-row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Level</mat-label>
                    <mat-select name="level" [(ngModel)]="level" required style="color: #999;">
                        <mat-option value="1">1 - Professor</mat-option>
                        <mat-option value="2">2 - Assistant Professor</mat-option>
                        <mat-option value="3">3 - Senior Lecturer(HG)</mat-option>
                        <mat-option value="4">4 - Senior Lecturer</mat-option>
                        <mat-option value="5">5 - Lecturer</mat-option>
                        <mat-option value="6">6 - Assistant Lecturer</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <button mat-raised-button color="primary" style="float: right;">Save Details</button>

</form>
