<div class="content">
  <div class="col-sm-12">
    <h4 class="m-3" style="color: #089be1">
      Generate Rooms Time Tables
    </h4>

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Select Timetable ID</mat-label>
          <mat-select
            name="timetableID"
            [(ngModel)]="this.timeTableID"
            #timetableID="ngModel"
          >
            <mat-option
              *ngFor="let obj of worksService.works"
              value="{{ obj.timeTableID }}"
              >{{ obj.timeTableID }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Select Room</mat-label>
          <mat-select
            name="roomName"
            [(ngModel)]="this.roomName"
            #timetableID="ngModel"
          >
          <mat-option
            *ngFor="let room of roomNameArry"
            value="{{ room }}"
            >{{ room }}</mat-option
          >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-6">
          <button
            mat-flat-button
            class="col-6"
            (click)="searchTimetable()"
            style="background-color: #5a59f2; margin-left: 30px; margin-bottom: 10px;"
          >
            GENERATE
          </button>
        </div>
        <div class="col-6">
          <button
            mat-flat-button
            class="col-6"
            (click)="generatePdf()"
            style="background-color: #5a59f2; margin-left: 30px; margin-bottom: 10px;"
          >
            EXPORT TO PDF
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
