<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Weekday">
    <div class="content">
        <div class="col-sm-12">
          <h4 class="m-3" style="color:#089BE1;">Generate Lecturers Weekday Time Table</h4>

            <div class="row">
              <div class="col-4">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Select Timetable ID</mat-label>
                  <mat-select name="timetableID" [(ngModel)]="this.timeTableID" #timetableID="ngModel">
                  <mat-option *ngFor="let obj of worksService.works" value="{{obj.timeTableID}}">{{obj.timeTableID}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-5">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Select Lecturer Name</mat-label>
                  <mat-select name="lecturerName" [(ngModel)]="this.lecturerName" #lectureName="ngModel">
                    <mat-option *ngFor="let lec of lecturersService.lecturer" value="{{lec.fname}} {{lec.lname}}">{{lec.fname}} {{lec.lname}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <button mat-flat-button class="col-4" (click)="searchTimetable()" style="background-color: #5A59F2; margin-top: 15px;">SEARCH</button>
              </div>
            </div>
            </div>
      </div>

      <div>

        <table class="table table-dark">
          <thead style="color: #2E86C1; font-weight: bold;">
            <tr>
              <th scope="col">Working Days & Times</th>
              <th scope="col" *ngFor="let workdays of working">{{workdays}}</th>
            </tr>
          </thead>
          <tbody>
            <div>
              <tr *ngFor="let timeSlots of time_slots">
                <td>{{timeSlots}}</td>
              </tr>
            </div>
          </tbody>
        </table>

      </div>

  </mat-tab>
  <mat-tab label="Weekend">

    <div class="content">
      <div class="col-sm-12">
        <h4 class="m-3" style="color:#089BE1;">Generate Lecturers Weekend Time Table</h4>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Select Timetable ID</mat-label>
          <mat-select name="timetableType">
            <mat-option *ngFor="let obj of worksService.works" value="obj.timeTableID">{{obj.timeTableID}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Select Lecturer Name</mat-label>
          <mat-select name="timetableType">
            <mat-option *ngFor="let lec of lecturersService.lecturer" value="lec.fname">{{lec.fname}} {{lec.lname}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </mat-tab>

</mat-tab-group>

