<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Overview</h2>
            <p><small>View overall statistics of entities in the system</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <div class="stat-card">
            <div class="row">
              <div class="col-md-4">
                <span class="count">10</span>
              </div>
              <div class="col-md-8 separator" style="text-align: left;">
                <p class="count-label">Student Groups</p>
                <p class="count-hint">Active student groups</p>
              </div>
            </div>
          </div>
        </div>
    
    
        <div class="col-md-3">
          <div class="stat-card">
            <div class="row">
              <div class="col-md-4">
                <span class="count">10</span>
              </div>
              <div class="col-md-8 separator" style="text-align: left;">
                <p class="count-label">Lecturers</p>
                <p class="count-hint">Active lecturers</p>
              </div>
            </div>
          </div>
        </div>
    
    
        <div class="col-md-3">
          <div class="stat-card">
            <div class="row">
              <div class="col-md-4">
                <span class="count">20</span>
              </div>
              <div class="col-md-8 separator" style="text-align: left;">
                <p class="count-label">Subjects</p>
                <p class="count-hint">Active Subjects</p>
              </div>
            </div>
          </div>
        </div>
    
    
        <div class="col-md-3">
          <div class="stat-card">
            <div class="row">
              <div class="col-md-4">
                <span class="count">20</span>
              </div>
              <div class="col-md-8 separator" style="text-align: left;">
                <p class="count-label">Lecture Halls</p>
                <p class="count-hint">Available lecture halls</p>
              </div>
            </div>
          </div>
        </div>
    
        
      </div>
    
</div>

