<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Rooms</h2>
            <p><small>View and manage all rooms added to the system here</small></p>
        </div>
        <div class="col-md-6">
            <button mat-flat-button color="primary" style="float: right;" (click)="openNewRoomModal()">Add New Room</button>
        </div>
    </div>

    <div class="row" *ngIf="!isLoading">
        <div class="col-md-12">
            <mat-table [dataSource]="Rooms" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="room_name">
                  <mat-header-cell *matHeaderCellDef> Room Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.room_name}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="room_type">
                  <mat-header-cell *matHeaderCellDef> Type of Room </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{getTypeOfRoom(element.room_type)}} </mat-cell>
                </ng-container>

                 <!-- Name Column -->
                <ng-container matColumnDef="building">
                    <mat-header-cell *matHeaderCellDef> Building </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{(element.building && element.building.building_name) || 'N/A'}} </mat-cell>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                      <button mat-flat-button color="accent" style="margin-right: 10px;" (click)="viewRoom(element._id)">View Room</button>
                      <button mat-stroked-button color="warn" (click)="deleteRoom(element._id, element.room_name, element.building && element.building.building_name)">Delete</button>
                  </mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

            <div class="image-wrapper" *ngIf="Rooms.data.length === 0">
                <img src="../../../../../assets/images/safebox.svg" width="60px">
                <p><small>No rooms found in the system!</small></p>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isLoading">
        <div class="col-md-12">
            <div class="ghost-buildings-table">
                <div class="ghost-row"></div>
                <div class="ghost-row"></div>
                <div class="ghost-row"></div>
                <div class="ghost-row"></div>

            </div>
        </div>
    </div>
</div>