<div class="container-fluid">
    <div class="row" style="margin-bottom: 1.5rem;">
        <div class="col-md-6">
            <a [routerLink]="['/locations/rooms']"><h2>Rooms</h2></a> <span style="font-weight: 900;"> . </span> <span *ngIf="!isLoading"> {{Room.room_name}}</span> 
            <div *ngIf="isLoading" class="building_name_ghost"></div>
            <p><small>View and manage the selected room here.</small></p>
        </div>
        <div class="col-md-6">
            <button mat-flat-button color="warn" style="float: right;" (click)="deleteRoom()">Delete Room</button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1.5rem;">
        <div class="col-md-8">
            <p *ngIf="!isLoading">
                <mat-form-field appearance="fill">
                  <mat-label>Room Name - </mat-label>
                  <input matInput placeholder="Room Name" [(ngModel)]="Room.room_name">
                  <mat-hint>Use a unique name that is known by almost anyone.</mat-hint>
                </mat-form-field>
            </p>
            <div class="form-field-ghost" *ngIf="isLoading"></div>
        </div>

        <div class="col-md-4">
            <button mat-flat-button color="primary" style="float: right;" (click)="save()" *ngIf="!isLoading">Save Changes</button>
            <div class="button-ghost" *ngIf="isLoading"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1.5rem;">
        <div class="col-md-8">
            <p *ngIf="!isLoading">
                <mat-form-field appearance="fill">
                    <mat-label>Type of Room</mat-label>
                    <mat-select [(ngModel)]="Room.room_type">
                        <mat-option [value]="1">Lecture Hall</mat-option>
                        <mat-option [value]="2">Laboratory</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <div class="form-field-ghost" *ngIf="isLoading"></div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 1.5rem;">
        <div class="col-md-8">
            <h5>Tags</h5>
            <p><small>Use tags to describe the types of sessions that can be allocated to this room</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Select tag</mat-label>
                <mat-select [(ngModel)]="selectedTag">
                    <mat-option *ngFor="let tag of tags" [value]="tag._id">{{tag.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <button mat-flat-button color="primary" style="position: relative; bottom: -20px;" (click)="addTag()">Add Tag</button>
        </div>
    </div>

    <div class="row" *ngIf="Room">
        <div class="col-md-8" *ngIf="Room.tags.length === 0">
            <div class="image-wrapper">
                <img src="../../../../../../assets/images/safebox.svg" width="60px" alt="">
                <p><small>No tags attached to this room!</small></p>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="Room" style="margin-bottom: 1.5rem;">
        <div class="col-md-8">
            <span style="margin-right: 15px;" *ngIf="Room.tags.length !== 0">Tags:</span> 
            <span class="badge badge-success" *ngFor="let tag of Room.tags" style="margin-right: 10px; font-size: 16px">
                {{tag.name}} 
                <a class="remove-icon" [href]="" (click)="removeTag(tag._id)">x</a>
            </span>
        </div>
    </div>

    <hr>

    <div class="row" style="margin-bottom: 1.5rem;">
        <div class="col-md-8">
            <h5>Unavailable Times</h5>
            <p><small>Add time slots which the room can not be allocated to any sessions here.</small></p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1.5rem;">
        <div class="col-md-3">
            <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="From" [formControl]="fromControl"
                  [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerTo>
                </ngx-mat-datetime-picker>
              </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="picker" placeholder="To" [formControl]="toControl"
                  [min]="minDate" [disabled]="!fromControl.value">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker>
                </ngx-mat-datetime-picker>
              </mat-form-field>
        </div>
        <div class="col-md-2">
            <button mat-flat-button color="primary" style="position: relative; bottom: -20px;" (click)="addUnavailableTime()">Add Unavailable Time Slot</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <mat-table [dataSource]="uaTimes" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="from">
                  <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.from | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="to">
                  <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.to | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>

                 <!-- Name Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-stroked-button color="warn" (click)="removeUnavailableTime(element._id)">Remove</button>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

            <div class="image-wrapper" *ngIf="uaTimes.data.length === 0">
                <img src="../../../../../assets/images/safebox.svg" width="60px">
                <p><small>No unavailable times found for this room!</small></p>
            </div>
        </div>
    </div>



</div>