$base-color: rgba(221, 221, 221, 0.863);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms; 
$gradient-offset: 52 + 16; 

p {
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
    display: inline-block;
}

h4 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.building_name_ghost {
    display: inline-block;
    height: 20px;
    width: 200px;
    background-color: rgba(49, 49, 49, 0.192);
}

.form-field-ghost {
    display: inline-block;
    height: 80px;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.192);
}

.button-ghost {
    display: inline-block;
    height: 40px;
    width: 140px;
    float: right;
    background-color: rgba(49, 49, 49, 0.192);
}

mat-form-field {
    width: 100%;
}

@keyframes ghost-lines { 
    0%   { background-position: -100px;  }
    40%  { background-position: 40vw;    }
    100% { background-position: 60vw;    }
}

@mixin animate-ghost-line {
    animation: ghost-lines $animation-duration infinite linear;
}

.ghost-buildings-table {
    width: 100%;
    background-color: rgba(49, 49, 49, 0.192);
    height: auto;
    padding-bottom: 20px;

    .ghost-row {
        height: 50px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(88, 88, 88, 0.068);
        padding: 20px;
        margin: auto;
        @include animate-ghost-line;
    }
}

.image-wrapper {
    width: 100%;
    text-align: center;
    position: relative;
    top: 12vh;
    color: #666;
    img {
        margin-bottom: 20px;
    }
}

.remove-icon {
    background-color: rgba(255, 255, 255, 0.596);
    color: rgb(87, 87, 87);
    font-size: 12px;
    padding: 2px 6px;
    margin: 2px 0px 4px 5px;
    border-radius: 50px;
}