<h2>Add Groups</h2>
<br>
<div>
    <form>
        <div class="content">
            <div class="form-row">
                <div class="col-md-12 col-sm-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Group Number</mat-label>
                        <input matInput placeholder="01" name="name" [(ngModel)]="name" style="color: #999;" maxlength="2" >
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary" style="float: right; margin-left: 10px;" *ngIf="isOnUpdate" (click)="openSuitableRoomsComponent()">Manage Suitable Rooms</button>
        <button mat-raised-button color="primary" style="float: right;" (click)="createGroup()" *ngIf="!isOnUpdate" [disabled]="!name">Save</button>
        <button mat-raised-button color="primary" style="float: right;" (click)="updateGroup()" *ngIf="isOnUpdate" [disabled]="!name">Update</button>
    </form>
</div>
<br>
<br>
<div>
    <h4>Groups</h4>
</div>
<br>
<div class="list mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Title Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let group"> {{group.name}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let group">
                <a mat-stroked-button style="color: #f69223;" (click)="navigateUpdateGroup(group._id)" >Edit</a>
                <a mat-stroked-button style="color: red;" (click)="openDialog(group._id)" >Delete</a>     
            </td> 
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
</div>





